<html>
    <body>
        <center>
            <h1>Welcome to the web page </h1>
        </center>
        <br><br>
        <table><tr><td><a href="http://127.0.0.1:5000">Admin</a></td><td><a href="http://127.0.0.1:5000/explore">Explore</a></td><td><a href="http://127.0.0.1:5000/user">User</a></td></tr></table>
        <br><br>
        <form action="/storedata" method="post">
            City Id: <input type="text" name="cid"><br><br>
            City Name: <input type="text" name="cname"><br><br>
            City Lattitude: <input type="text" name="clat"><br><br>
            City Longnitude: <input type="text" name="clon"><br><br>
            <input type="submit"><br><br>


        </form>
        <br><br>
        <p><hr>Designed by Here Technologies <hr></p>
    </body>
</html>